[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
django = "*"
djangorestframework = "*"
drf-excel = "*"
pyexcel = "*"
pyexcel-xlsx = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
